.fz {
    &_14 {
        font-size: 14px;
    }

    &_16 {
        font-size: 16px;
    }

    &_18 {
        font-size: 18px;
    }

    &_20 {
        font-size: 20px;
    }
}

.fw {
    &_regular {
        font-weight: 400;
    }

    &_medium {
        font-weight: 500;
    }

    &_semibold {
        font-weight: 600;
    }

    &_bold {
        font-weight: 700;
    }
}